Repository secureCodeBox/secureCodeBox, pull requests merged in 2022-07, with the labels that each got.

#1264 Make Nuclei Template Cache PVC `accessMode` configurable
  scanners/nuclei/README.md
  scanners/nuclei/docs/README.ArtifactHub.md
  scanners/nuclei/templates/nuclei-shared-volumeclaim.yaml
  scanners/nuclei/values.yaml
Labels: enhancement, scanner

#1269 Allow Email Notification Hook To Pick Email Recipient From a Scan Annotation
  hooks/notification/.helm-docs.gotmpl
  hooks/notification/README.md
  hooks/notification/docs/README.ArtifactHub.md
  hooks/notification/hook/Notifiers/EMailNotifier.test.ts
  hooks/notification/hook/Notifiers/EMailNotifier.ts
  hooks/notification/hook/notification-templates/email.njk
Labels: enhancement, hook

#1267 Add Ability to Configure `hookSelectors` via AutoDiscovery
  auto-discovery/kubernetes/README.md
  auto-discovery/kubernetes/api/v1/autodiscoveryconfig_types.go
  auto-discovery/kubernetes/api/v1/zz_generated.deepcopy.go
  auto-discovery/kubernetes/auto-discovery-config.yaml
  auto-discovery/kubernetes/controllers/container_scan_controller_test.go
  auto-discovery/kubernetes/controllers/service_scan_controller_test.go
  auto-discovery/kubernetes/controllers/suite_test.go
  auto-discovery/kubernetes/docs/README.ArtifactHub.md
  auto-discovery/kubernetes/pkg/util/gotemplate.go
  auto-discovery/kubernetes/pkg/util/gotemplate_test.go
  auto-discovery/kubernetes/values.yaml
Labels: enhancement, auto-discovery

#1275 Add missing annotation for "supported-platforms"
  scanners/git-repo-scanner/Chart.yaml
  scanners/wpscan/Chart.yaml
Labels: bug

#1283 Fixes the ZAP-Advanced deployment
  scanners/zap-advanced/templates/zap-advanced-scan-type.yaml
Labels: bug

#1282 Fixes Install.sh script
  .github/workflows/ci.yaml
  .github/workflows/release-build.yaml
  bin/install.sh
  hooks/package.json
  hooks/update-field-hook/.gitignore
  hooks/update-field-hook/.helm-docs.gotmpl
  hooks/update-field-hook/.helmignore
  hooks/update-field-hook/Chart.yaml
  hooks/update-field-hook/Makefile
  hooks/update-field-hook/README.md
  hooks/update-field-hook/docs/README.ArtifactHub.md
  hooks/update-field-hook/docs/README.DockerHub-Hook.md
  hooks/update-field-hook/hook/.dockerignore
  hooks/update-field-hook/hook/Dockerfile
  hooks/update-field-hook/hook/hook.js
  hooks/update-field-hook/hook/hook.test.js
  hooks/update-field-hook/hook/package-lock.json
  hooks/update-field-hook/hook/package-lock.json.license
  hooks/update-field-hook/hook/package.json
  hooks/update-field-hook/hook/package.json.license
  hooks/update-field-hook/templates/NOTES.txt
  hooks/update-field-hook/templates/_helpers.tpl
  hooks/update-field-hook/templates/update-field-hook.yaml
  hooks/update-field-hook/values.yaml
Labels: bug
