Repository secureCodeBox/secureCodeBox, pull requests merged in 2024-12, with the labels that each got.

#2795 Adjust release note grouper for release notes generated by the native github feature
  bin/release-note-grouper.js
Labels: maintenance

#2810 Add Talk From Bulat Gafurov from Ufadevconf
  documentation/docs/12-mentions.md
Labels: documentation

#2818 Add Sergios talk at Ekoparty 2024
  documentation/docs/12-mentions.md
Labels: documentation

#2821 Fix Markdown Causing a Broken Link On The Nmap Docs Page
  documentation/blog/2024-10-25-run-x86-images-with-kubernetes-on-apple-silicon.md
Labels: documentation

#2823 Use Latest Temurin 17.0.13 in SDKMAN Config
  hooks/persistence-defectdojo/hook/.sdkmanrc
Labels: dependencies

#2824 Fix Docker Build Warnings
  .templates/new-scanner/parser/Dockerfile
  auto-discovery/cloud-aws/Dockerfile
  auto-discovery/kubernetes/Dockerfile
  demo-targets/old-joomla/container/Dockerfile
  demo-targets/old-wordpress/container/Dockerfile
  hook-sdk/nodejs/Dockerfile
  hooks/cascading-scans/hook/Dockerfile
  hooks/finding-post-processing/hook/Dockerfile
  hooks/generic-webhook/hook/Dockerfile
  hooks/notification/hook/Dockerfile
  hooks/persistence-azure-monitor/hook/Dockerfile
  hooks/persistence-defectdojo/hook/Dockerfile
  hooks/persistence-dependencytrack/hook/Dockerfile
  hooks/persistence-elastic/hook/Dockerfile
  hooks/update-field-hook/hook/Dockerfile
  lurker/Dockerfile
  operator/Dockerfile
  parser-sdk/nodejs/Dockerfile
  scanners/amass/parser/Dockerfile
  scanners/cmseek/scanner/Dockerfile
  scanners/doggo/parser/Dockerfile
  scanners/ncrack/parser/Dockerfile
  scanners/nikto/scanner/Dockerfile
  scanners/nmap/parser/Dockerfile
  scanners/sslyze/parser/Dockerfile
  scanners/typo3scan/scanner/Dockerfile
  scanners/zap-automation-framework/parser/Dockerfile
  scanners/zap/parser/Dockerfile
Labels: maintenance
