Repository secureCodeBox/secureCodeBox, pull requests merged in 2024-02, with the labels that each got.

#2247 #2242 Add Page with List of Mentions
  documentation/docs/12-mentions.md
Labels: enhancement, documentation

#2250 #2249 Remove Release Tweet Because Twitter is Dead
  .github/workflows/release-tweet.yaml
Labels: maintenance

#2264 Re-Enabled nikto integration test
  scanners/nikto/integration-tests/nikto.test.js
Labels: skip-changelog

#2288 Clarify which names need to be unique in DefectDojo
  hooks/persistence-defectdojo/.helm-docs.gotmpl
Labels: documentation

#2291 Fix issue in Markdown for DefectDojo Hook breaking the Website build
  hooks/persistence-defectdojo/.helm-docs.gotmpl
  hooks/persistence-defectdojo/README.md
  hooks/persistence-defectdojo/docs/README.ArtifactHub.md
  hooks/persistence-defectdojo/docs/README.DockerHub-Hook.md
Labels: documentation, skip-changelog

#2289 Fix Admonition in Post-Processing Hooks How-To
  documentation/docs/how-tos/hooks.md
Labels: bug, documentation

#2296 Add missing docs for Cron Schedule
  documentation/docs/api/crds/scheduled-scan.md
Labels: documentation

#2297 Fix broken documentation links to kubernetes API reference
  documentation/docs/api/crds/scan.md
Labels: documentation

#2298 Use Latest Version 17 of Java
  hooks/persistence-defectdojo/hook/.sdkmanrc
Labels: enhancement

#2314 Docuemnt how to use AWS IAM for S3 in AWS
  documentation/docs/getting-started/installation.md
Labels: enhancement, documentation
