Repository secureCodeBox/secureCodeBox, pull requests merged in 2024-06, with the labels that each got.

#2519 Add an Old Talk I Gave at VKSI
  documentation/docs/12-mentions.md
Labels: documentation

#2540 Fix Broken Links in Docs
  documentation/docs/how-tos/automatically-repeating-scans.md
  hooks/notification/.helm-docs.gotmpl
  hooks/notification/README.md
  hooks/notification/docs/README.ArtifactHub.md
Labels: documentation, skip-changelog

#2543 Fix Missed Instructions Still Using the old Helm Registry
  auto-discovery/cloud-aws/.helm-docs.gotmpl
  auto-discovery/cloud-aws/README.md
  auto-discovery/cloud-aws/docs/README.ArtifactHub.md
  bin/install.sh
  documentation/blog/2022-01-18-log4shell.md
  documentation/docs/11-telemetry.md
  documentation/docs/architecture/09_architecture_decisions/adr_0012.md
  documentation/docs/auto-discovery/installation.md
  documentation/docs/contributing/local-deployment.md
  documentation/docs/getting-started/first-scans.md
  documentation/docs/getting-started/troubleshooting.md
  documentation/docs/getting-started/uninstallation.md
  documentation/docs/how-tos/hooks.md
  documentation/docs/how-tos/persistence-storage.md
  operator/.helm-docs.gotmpl
  operator/README.md
  operator/docs/README.ArtifactHub.md
  scanners/nikto/examples/demo-juice-shop/README.md
Labels: documentation, skip-changelog

#2544 Update to nmap 7.95-r0
  scanners/nmap/Chart.yaml
  scanners/nmap/README.md
  scanners/nmap/docs/README.DockerHub-Parser.md
  scanners/nmap/docs/README.DockerHub-Scanner.md
  scanners/nmap/scanner/Dockerfile
Labels: scanner

#2547 Add blog post for OCI registry change
  documentation/blog/2024-06-28-helm-chart-oci-registry-migration.md
Labels: documentation
