Repository secureCodeBox/secureCodeBox, pull requests merged in 2025-09, with the labels that each got.

#3255 Update supported k8s versions to include new Kubernetes 1.34 release.
  documentation/docs/getting-started/installation.md
Labels: documentation

#3264 Changes the comments behind pinned actions to include their full version
  .github/workflows/ci.yaml
  .github/workflows/documentation-roulette.yaml
  .github/workflows/helm-charts-release-ghcr.yaml
  .github/workflows/helm-charts-release.yaml
  .github/workflows/helm-docs.yaml
  .github/workflows/label-commenter.yml
  .github/workflows/license-check.yaml
  .github/workflows/mega-linter.yml
  .github/workflows/move-bot-pr-to-review.yaml
  .github/workflows/oss-scorecard.yaml
  .github/workflows/release-build.yaml
  .github/workflows/scb-bot.yaml
Labels: maintenance

#3297 Added affinity and tolerations fields to ssh-audit-scan-type.yaml
  scanners/ssh-audit/templates/ssh-audit-scan-type.yaml
Labels: scanner
