Repository secureCodeBox/secureCodeBox, pull requests merged in 2025-07, with the labels that each got.

#3118 Add Blog Post about Launch of SCBaaS
  documentation/blog/2025-07-10-try-out-securecodebox-as-a-service.md
  documentation/static/img/blog/2025-07-10-scb-stars.svg
  documentation/static/img/blog/2025-07-10-scb-stars.svg.license
  documentation/static/img/blog/2025-07-10-scbaas-form.jpg
  documentation/static/img/blog/2025-07-10-scbaas-form.jpg.license
Labels: documentation

#3121 Imline Link In Markdown To Fix Post Overview
  documentation/blog/2025-07-10-try-out-securecodebox-as-a-service.md
Labels: bug, documentation

#3136 Update Various CI Components
  .github/workflows/ci.yaml
  .github/workflows/documentation-roulette.yaml
  .github/workflows/helm-charts-release-ghcr.yaml
  .github/workflows/helm-charts-release.yaml
  .github/workflows/helm-docs.yaml
  .github/workflows/label-commenter.yml
  .github/workflows/license-check.yaml
  .github/workflows/mega-linter.yml
  .github/workflows/move-bot-pr-to-review.yaml
  .github/workflows/release-build.yaml
  .github/workflows/scb-bot.yaml
Labels: maintenance

#3132 Remove Cmseek ScanType
  .github/workflows/ci.yaml
  .github/workflows/release-build.yaml
  .github/workflows/scb-bot.yaml
  documentation/docs/getting-started/upgrading.md
  documentation/src/integrations.js
  operator/internal/telemetry/telemetry.go
  scanners/cmseek/.gitignore
  scanners/cmseek/.helm-docs.gotmpl
  scanners/cmseek/.helmignore
  scanners/cmseek/Chart.yaml
  scanners/cmseek/README.md
  scanners/cmseek/Taskfile.yaml
  scanners/cmseek/cascading-rules/scan-joomla.yaml
  scanners/cmseek/docs/.gitkeep
  scanners/cmseek/docs/README.ArtifactHub.md
  scanners/cmseek/docs/README.DockerHub-Parser.md
  scanners/cmseek/docs/README.DockerHub-Scanner.md
  scanners/cmseek/examples/demo-old-joomla/findings.yaml
  scanners/cmseek/examples/demo-old-joomla/scan.yaml
  scanners/cmseek/integration-tests/cmseek.test.js
  scanners/cmseek/parser/Dockerfile
  scanners/cmseek/parser/__snapshots__/parser.test.js.snap
  scanners/cmseek/parser/__snapshots__/parser.test.js.snap.license
  scanners/cmseek/parser/__testFiles__/joomla_with_core_vulns.json
  scanners/cmseek/parser/__testFiles__/joomla_with_core_vulns.json.license
  scanners/cmseek/parser/__testFiles__/joomla_without_core_vulns.json
  scanners/cmseek/parser/__testFiles__/joomla_without_core_vulns.json.license
  scanners/cmseek/parser/__testFiles__/not_joomla.json
  scanners/cmseek/parser/__testFiles__/not_joomla.json.license
  scanners/cmseek/parser/__testFiles__/test-empty-report.json
  scanners/cmseek/parser/__testFiles__/test-empty-report.json.license
  scanners/cmseek/parser/parser.js
  scanners/cmseek/parser/parser.test.js
  scanners/cmseek/scanner/Dockerfile
  scanners/cmseek/scanner/wrapper.sh
  scanners/cmseek/templates/cascading-rules.yaml
  scanners/cmseek/templates/cmseek-parse-definition.yaml
  scanners/cmseek/templates/cmseek-scan-type.yaml
  scanners/cmseek/tests/__snapshot__/scanner_test.yaml.snap
  scanners/cmseek/tests/scanner_test.yaml
  scanners/cmseek/values.yaml
Labels: scanner, breaking
