Repository secureCodeBox/secureCodeBox, pull requests merged in 2025-04, with the labels that each got.

#2976 With Latest Version This Broke The Build
  hooks/persistence-defectdojo/hook/build.gradle
Labels: bug, skip-changelog

#3000 Reorder sections in upgrading.md to list the newest first
  documentation/docs/getting-started/upgrading.md
Labels: documentation

#2993 Fix Invalid ARM Image for DefectDojo hook
  hooks/persistence-defectdojo/hook/Dockerfile
Labels: bug

#3005 Add Link to my OWASP Stammtisch Hamburg Talk
  documentation/docs/12-mentions.md
Labels: documentation
